@import "tailwindcss";

@theme {
  --color-primary-light: rgb(147, 188, 224);
  --color-primary: #041e42;
  --color-secondary: #b7312c;
  --color-primary-dark: #a80060;

  --color-theme-blue: #383acf;
  --color-theme-blue-light: #66dfff;
  --color-theme-cyan: #61e2e5;
  --color-theme-green: #2b8364;
  --color-theme-green-light: #98d354;

  --font-expansiva: "Expansiva", sans-serif;
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

@font-face {
  font-family: "Expansiva";
  src: url("/fonts/expansiva-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}