---
import MainLayout from "@/layouts/MainLayout.astro";
import Hero from "@/sections/Hero.astro";
import MisionVision from "@/sections/MisionVision.astro";
import Servicios from "@/sections/Servicios.astro";
import PoliticaLaboratorio from "@/sections/PoliticaLaboratorio.astro";
import Galeria from "@/sections/Galeria.astro";
import Marketplace from "@/sections/Marketplace.astro";
import Contacto from "@/sections/Contacto.astro";
import Certificaciones from "@/sections/Certificaciones.astro";
import VideoInstitucional from "@/sections/VideoInstitucional.astro";

import { MarqueeDemo } from "@/sections/Industrias";
import Section from "../Section.astro";
---

<MainLayout>
	<Hero />
	<Servicios />
	<Section widthFull noPadding title="Enfocados en la industria">
		<MarqueeDemo />
	</Section>
	<Marketplace />
	<PoliticaLaboratorio />
	<Certificaciones />
	<MisionVision />
	<VideoInstitucional />
	<Galeria />
	<Contacto />
</MainLayout>
