---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Página no encontrada | Kepler Metrology"
  description="Lo sentimos, la página que buscas no existe o ha sido movida."
>
  <div class="h-[100vh] flex items-center justify-center px-4 py-8 sm:py-16">
    <div class="text-center max-w-md mx-auto mt-24">
      <h1 class="text-9xl sm:text-9xl font-black text-blue-600">404</h1>

      <div class="mt-3 sm:mt-4 mb-6 sm:mb-8">
        <div class="h-1 w-16 bg-blue-600 mx-auto"></div>
      </div>

      <h2
        class="text-2xl sm:text-3xl font-semibold mb-3 sm:mb-4 font-expansiva uppercase"
      >
        ¡Ups! Página no encontrada
      </h2>

      <p class="text-gray-600 text-base sm:text-lg mb-6 sm:mb-8">
        Lo sentimos, la página que estás buscando no existe, ha sido movida o no
        está disponible temporalmente.
      </p>

      <div class="flex flex-col gap-3 justify-center">
        <a
          href="/"
          class="px-6 py-3 bg-blue-600 text-white rounded-xl hover:bg-blue-700 transition-colors w-full"
        >
          Volver al inicio
        </a>
      </div>

      <div class="mt-8 sm:mt-12 hidden md:flex">
        <img
          src="/logo-kepler-metrology.png"
          alt="Kepler Metrology Logo"
          class="h-12 sm:h-16 mx-auto"
        />
      </div>
    </div>
  </div>
</MainLayout>
