---
import Layout from "@/layouts/MainLayout.astro";
import Section from "@/components/Section.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title="Aviso de Privacidad | Kepler Metrology">
  <div class="h-20 md:h-16"></div>
  <Section title="AVISO DE PRIVACIDAD" className="mt-6 md:mt-16">
    <div
      class="md:p-6 p-4 rounded-xl border border-neutral-300 shadow-xl bg-white"
    >
      <p class="text-gray-700 mb-6 md:text-lg">
        En KEPLER OIL & GAS S.A. DE C.V., estamos convencidos que el principal
        activo son nuestros clientes, es por ello que aplicamos lineamientos,
        políticas, procedimientos y programas de privacidad para proteger su
        información.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        Como cliente de KEPLER OIL & GAS S.A. DE C.V., usted tiene la
        oportunidad de escoger entre una amplia gama de productos, sabiendo que
        sus datos personales estarán protegidos. La seguridad de su información
        es nuestra prioridad, es por ello que la protegemos mediante el uso,
        aplicación y mantenimiento de altas medidas de seguridad técnicas,
        físicas y administrativas.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        En adición a lo anterior, el pasado 5 de julio de 2010 se publicó en el
        Diario Oficial de la Federación la Ley Federal de Protección de Datos
        Personales en Posesión de Particulares (en lo sucesivo la "Ley"), cuyas
        disposiciones claramente coadyuvan con nuestro objetivo de proteger sus
        datos personales. Usted puede acceder al contenido de la Ley a través de
        los portales que el Gobierno Federal, por conducto de la Secretaría de
        Gobernación, y la Cámara de Diputados del H. Congreso de la Unión tienen
        en Internet y cuyas direcciones son: http://www.ordenjuridico.gob.mx y
        http://www.diputados.gob.mx
      </p>

      <p class="text-gray-700 mb-8 md:text-lg">
        En virtud de lo antes expuesto, le informamos que en cumplimiento a
        nuestro Programa de Privacidad y a la Ley, los datos personales que
        obtengamos en virtud de los servicios que usted solicite o celebre con
        KEPLER OIL & GAS S.A. DE C.V., serán tratados de manera confidencial a
        través de los sistemas y esquemas provistos para tales efectos.
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">
        Responsables del tratamiento de sus datos personales:
      </h3>

      <p class="text-gray-700 mb-6 md:text-lg">
        El responsable del tratamiento de sus datos personales será KEPLER OIL &
        GAS S.A. DE C.V., misma que los recaba para atender su solicitud de un
        producto o servicio, para formalizar su contratación, o bien, para
        llevar a cabo actividades no comerciales y sin fines de lucro.
      </p>

      <p class="text-gray-700 mb-8 md:text-lg">
        Asimismo, KEPLER OIL & GAS S.A. DE C.V., podrá recabar sus datos
        personales e imágenes, necesarios para permitirle el acceso a cualquiera
        de los inmuebles en los que se encuentren ubicadas sus oficinas o
        sucursales.
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">
        Domicilio del responsable:
      </h3>

      <p class="text-gray-700 mb-8 md:text-lg">
        Para efectos del presente aviso de privacidad KEPLER OIL & GAS S.A. DE
        C.V., señala individualmente como su domicilio el ubicado en
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">Cómo contactarnos:</h3>

      <div class="mb-8">
        <p class="text-gray-700 mb-2 md:text-lg">
          Oficina de privacidad: KEPLER OIL & GAS S.A. DE C.V.
        </p>
        <p class="text-gray-700 mb-2 md:text-lg">
          Domicilio: Prol. Paseo Amsterdam, Colonia Industrial Tejeda, 76900,
          Querétaro, Querétaro.
        </p>
        <p class="text-gray-700 mb-2 md:text-lg">
          Correo electrónico: contacto@kepler-oilgas.com.mx
        </p>
        <p class="text-gray-700 mb-2 md:text-lg">Teléfono: (442) 242 34 62</p>
      </div>

      <h3 class="text-xl font-bold text-primary mb-4">
        Datos personales que podrán ser recabados y tratados:
      </h3>

      <p class="text-gray-700 mb-6 md:text-lg">
        KEPLER OIL & GAS S.A. DE C.V., recabará los datos personales necesarios
        para atender su solicitud de un producto o servicio, para formalizar su
        contratación, así como para llevar a cabo actividades no comerciales y
        sin fines de lucro en las que participe, las cuales estarán relacionadas
        al momento de proporcionar la información en el reporte de resultados de
        laboratorio.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        Las categorías de datos personales a recabar y sujetas a tratamiento
        son: (i) datos de identificación (incluyendo los derivados de sus
        propias características físicas); (ii) datos de contacto; (iii) datos
        patrimoniales; (iv) datos financieros; (v) datos académicos; y, (vi)
        datos laborales. Desprendiéndose las mismas de su persona o corporación
        que pertenece.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        KEPLER OIL & GAS S.A. DE C.V., podrá realizar las investigaciones y
        acciones que consideren necesarias, a efecto de comprobar a través de
        cualquier tercero, dependencia u autoridad, la veracidad de los datos
        que les fueron proporcionados.
      </p>

      <p class="text-gray-700 mb-8 md:text-lg">
        De la misma forma dichos datos podrán ser recabado de diversas formas;
        cuando usted nos los proporciona directamente; cuando visita nuestro
        sitio de Internet o Intranet utilizando nuestros servicios en línea,
        cuando acuda a nuestras instalaciones y, cuando obtenemos información a
        través de otras fuentes que están permitidas por la ley.
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">
        Uso de cookies y web, beacons:
      </h3>

      <p class="text-gray-700 mb-6 md:text-lg">
        Las cookies son archivos de texto que son descargados automáticamente y
        almacenados en el disco duro del equipo de cómputo del usuario al
        navegar en una página de Internet específica, que permiten recordar al
        servidor de Internet algunos datos sobre este usuario, entre ellos, sus
        preferencias para la visualización de las páginas en ese servidor,
        nombre y contraseña.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        Por su parte, las web beacons son imágenes insertadas en una página de
        Internet o correo electrónico, que puede ser utilizado para monitorear
        el comportamiento de un visitante, como almacenar información sobre la
        dirección IP del usuario, duración del tiempo de interacción en dicha
        página y el tipo de navegador utilizado, entre otros.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        Le informamos que utilizamos cookies y web beacons para obtener
        información personal de usted, como la siguiente:
      </p>

      <ul class="list-disc pl-6 mb-8 text-gray-700 md:text-lg">
        <li class="mb-2">Su tipo de navegador y sistema operativo.</li>
        <li class="mb-2">Las páginas de Internet que visita.</li>
        <li class="mb-2">Los vínculos que sigue.</li>
        <li class="mb-2">La dirección IP.</li>
        <li>El sitio que visitó antes de entrar al nuestro.</li>
      </ul>

      <h3 class="text-xl font-bold text-primary mb-4">Video Grabación:</h3>

      <p class="text-gray-700 mb-8 md:text-lg">
        Le informamos que nuestras instalaciones cuentan con equipos de video
        grabación, por lo que pueden ser tomadas imágenes de su persona, así
        como de todos los procedimientos realizados dentro de las sucursales de
        KEPLER OIL & GAS S.A. DE C.V., ello, con fines de seguridad y garantía
        en el servicio proporcionado.
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">
        Finalidades del tratamiento de sus datos personales:
      </h3>

      <p class="text-gray-700 mb-6 md:text-lg">
        Los datos personales que KEPLER OIL & GAS S.A. DE C.V., recabe serán
        usados para atender su solicitud de un producto o servicio, para
        formalizar y registrar su contratación, o bien para mantener y
        cumplimentar la relación jurídica que se genere.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        Asimismo, KEPLER OIL & GAS S.A. DE C.V., podrán utilizar sus datos
        personales para: (i) mercadotecnia, publicidad y prospección comercial;
        (ii) ofrecerle, en su caso, otros productos de cualquiera de sus
        afiliadas, subsidiarias, sociedades controladoras, asociadas o,
        comisionistas; (iii) remitirle promociones de otros bienes o servicios
        relacionados con el giro de KEPLER OIL & GAS S.A. DE C.V.; (iv) hacer de
        su conocimiento o invitarle a participar en nuestras actividades no
        lucrativas de compromiso social que tengan como objetivo promover el
        desarrollo de las personas, a través de proyectos educativos, sociales,
        ecológicos y culturales; y, (v) permitirle el acceso a cualquiera de los
        inmuebles en los que se encuentren ubicadas sus oficinas o sucursales,
        finalidades que no son indispensables para el cumplimiento de la
        relación jurídica que dio origen al producto o servicio contratado.
      </p>

      <p class="text-gray-700 mb-8 md:text-lg">
        La consulta de resultados por internet, es exclusiva de KEPLER OIL & GAS
        S.A. DE C .V., quien tiene en custodia las claves de acceso y sus
        códigos confidenciales y que solo ellos tienen acceso, para la consulta
        exclusivamente de sus servicios contratados. El uso que se les de a
        estos códigos y claves confidenciales es responsabilidad del usuario a
        quien se le entrega en custodia.
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">
        Transferencia de datos personales:
      </h3>

      <p class="text-gray-700 mb-8 md:text-lg">
        KEPLER OIL & GAS S.A. DE C.V., podrán transferir sus datos personales a
        terceros mexicanos o extranjeros cuando la transferencia: (i) esté
        prevista en una Ley o Tratado en los que México sea parte; (ii) sea
        efectuada a sociedades subsidiarias o afiliadas bajo el control común de
        KEPLER OIL & GAS S.A. DE C.V., a una sociedad matriz o a cualquier
        sociedad del mismo grupo de los responsables que operen bajo los mismos
        procesos y políticas internas, así como a sus asociadas; (iii) sea
        necesaria por virtud de un contrato celebrado o por celebrar en interés
        del titular, por KEPLER OIL & GAS, y un tercero; (iv) sea necesaria o
        legalmente exigida para la salvaguarda de un interés público, o para la
        procuración o administración de justicia; (v) sea precisa para el
        reconocimiento, ejercicio o defensa de un derecho en un proceso
        judicial; y, (vi) sea precisa para el mantenimiento o cumplimiento de
        una relación jurídica entre KEPLER OIL & GAS S.A. DE C.V., y el titular.
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">
        Revocación del consentimiento:
      </h3>

      <p class="text-gray-700 mb-6 md:text-lg">
        Usted podrá revocar su consentimiento, así como oponerse al tratamiento
        de sus datos personales para las finalidades que no sean indispensables
        para la relación jurídica que dio origen al producto o servicio que
        hubiese contratado o solicitado, indicándolo en el recuadro denominado
        "Autorización de uso de información" contenido en la solicitud del
        producto o servicio que suscriba con KEPLER OIL & GAS S.A. DE C.V.
      </p>

      <p class="text-gray-700 mb-8 md:text-lg">
        Por otro lado, para efectuar dicha revocación en un momento posterior a
        la formalización del producto o servicio que contrate con KEPLER OIL &
        GAS S.A. DE C.V., usted podrá solicitar a nuestro Centro de Atención por
        la vía electrónica mediante el envío de un mensaje de correo electrónico
        a la dirección contacto@kepler-oilgas.com.mx o acudir a cualquier
        sucursal para obtener el formato respectivo, que incluirá su nombre
        completo, dirección de correo electrónico, teléfono(s), así como la
        razón por la que no desea seguir recibiendo información de KEPLER OIL &
        GAS S.A. DE C.V., como consecuencia de ello, lo excluiremos, en un plazo
        de 30 (treinta) días contados a partir de la recepción de dicho formato,
        de nuestras campañas con fines mercadotécnicos, publicitarios o de
        prospección comercial, previa acreditación de su identidad o, en su
        caso, la de su representante legal, la cual procederá sin necesidad de
        cumplir con requisito adicional alguno y, por lo tanto, no tendrá que
        acudir posteriormente por respuesta alguna.
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">Derechos ARCO:</h3>

      <p class="text-gray-700 mb-6 md:text-lg">
        Usted o su representante legal debidamente acreditado, podrán limitar el
        uso o divulgación de sus datos personales; así como ejercer, cuando
        procedan, los derechos de Acceso, Rectificación, Cancelación u Oposición
        que la Ley prevé mediante el formato que KEPLER OIL & GAS S.A. DE C.V.,
        le proporcionen para tales efectos, mismo que deberá ser acompañado de
        los documentos que acrediten la identidad del titular (identificación
        oficial con fotografía) o en su caso la representación legal del titular
        en términos de la legislación común, y presentarlo en cualquier sucursal
        de KEPLER OIL & GAS, la cual canalizará su solicitud al departamento de
        información de KEPLER OIL & GAS S.A. DE C.V., el cual dará trámite a las
        solicitudes de los titulares para el ejercicio de los derechos ARCO en
        un plazo no mayor a 20 días hábiles contados a partir de su recepción.
        Es importante mencionar que el ejercicio de cualquiera de los
        mencionados derechos no es requisito previo ni impide el ejercicio de
        otro derecho.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        Usted podrá obtener el formato para ejercer sus derechos ARCO en
        cualquiera de nuestras sucursales.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        La respuesta a las solicitudes que cumplan con los requisitos antes
        mencionados podrá ser notificada al promovente vía correo electrónico
        (cuando se proporcione la dirección de correo electrónico) desde la
        dirección contacto@kepler-oilgas.com.mx, por medio de mensajería o por
        fax, aunado a estar disponible en cualquiera de las sucursales de KEPLER
        OIL & GAS S.A. DE C.V., previa acreditación de identidad por cualquiera
        de los medios señalados anteriormente. Por cuestiones de seguridad, solo
        se atenderán solicitudes de ejercicio de derechos KEPLER OIL & GAS S.A.
        DE C.V., que sean enviadas a la dirección electrónica antes mencionada,
        cuando previamente haya sido autorizado el correo del emisor como medio
        de comunicación entre las partes y se haya acreditado la personalidad.
      </p>

      <p class="text-gray-700 mb-8 md:text-lg">
        Así también, le informamos que usted tiene derecho a iniciar un
        Procedimiento de Protección de Derechos ante el Instituto Federal de
        Acceso a la Información y Protección de Datos (www.ifai.gob.mx) dentro
        de los 15 días hábiles siguientes a la fecha en que reciba la respuesta
        de KEPLER OIL & GAS S.A. DE C.V., o a partir de que concluya el plazo de
        20 días hábiles contados a partir de la fecha de recepción de su
        solicitud de ejercicio de derechos y no hubiese recibido respuesta
        alguna.
      </p>

      <p class="text-gray-700 mb-8 md:text-lg">
        Si usted considera que su derecho de protección de datos personales ha
        sido lesionado por alguna conducta de nuestros empleados o de nuestras
        actuaciones o respuestas, presume que en el tratamiento de sus datos
        personales existe alguna violación a las disposiciones previstas en la
        Ley Federal de Protección de Datos Personales en Posesión de los
        Particulares, podrá interponer la queja o denuncia correspondiente ante
        el IFAI, para mayor información visite www.ifai.org.mx
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">
        Modificaciones al aviso de privacidad:
      </h3>

      <p class="text-gray-700 mb-6 md:text-lg">
        Nos reservamos el derecho de efectuar en cualquier momento
        modificaciones o actualizaciones al presente aviso de privacidad, para
        la atención de novedades legislativas, políticas internas o nuevos
        requerimientos para la prestación u ofrecimiento de nuestros servicios o
        productos.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        Estas modificaciones estarán disponibles al público a través de los
        siguientes medios: (i) anuncios visibles en nuestros establecimientos o
        centros de atención a clientes; (ii) trípticos o folletos disponibles en
        nuestros establecimientos o centros de atención a clientes; (iii) en
        nuestra página de Internet [sección aviso de privacidad] o; (iv) se las
        haremos llegar al último correo electrónico que nos haya proporcionado.
      </p>

      <p class="text-gray-700 mb-8 md:text-lg">
        Cualquier modificación al presente aviso le podrá ser notificada a
        través de cualquiera de los siguientes medios: un comunicado por escrito
        enviado a su domicilio o entregado en cualquier sucursal KEPLER OIL &
        GAS S.A.DE .C.V.; un mensaje contenido en su estado de cuenta, resultado
        de servicios; un mensaje enviado a su correo electrónico o a su teléfono
        móvil; un mensaje dado a conocer a través de
        https://www.kepler-oilgas.com.mx o de cualquier medio electrónico que
        utilice para celebrar operaciones con KEPLER OIL & GAS S.A. DE C.V.; o
        bien, a través de mensajes publicados en las sucursales.
      </p>

      <h3 class="text-xl font-bold text-primary mb-4">
        Proveedores de KEPLER OIL & GAS S.A. DE C.V., personas físicas:
      </h3>

      <p class="text-gray-700 mb-8 md:text-lg">
        En caso de que usted sea proveedor persona física de KEPLER OIL & GAS
        S.A. DE C.V., o sea apoderado o accionista de algún proveedor y sea
        persona física, le será igualmente aplicable el Aviso de Privacidad aquí
        contenido, siendo que el tratamiento de su información estará limitada
        de acuerdo a los fines que se establezcan en el medio por el cual se
        haya formalizado la relación jurídica existente.
      </p>

      <p class="text-gray-700 mb-6 md:text-lg">
        KEPLER OIL & GAS S.A. DE C.V. es una razón social y cuenta con los
        derechos de comercialización de las marcas registradas:
      </p>

      <ul class="list-disc pl-6 mb-8 text-gray-700 md:text-lg">
        <li class="mb-2">KEPLER OIL & GAS</li>
        <li class="mb-2">KEPLER INSPECTION UNIT</li>
        <li>KEPLER METROLOGY</li>
      </ul>

      <p class="text-gray-700 md:text-lg">
        en aplicaciones industriales, de ingeniería o cualquier ramo relacionado
        a su uso comercial ó privado, para los efectos legales correspondientes.
      </p>
    </div>
  </Section>
</Layout>
