---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "@/sections/hero.astro";
import { FlickeringGrid } from "@/components/FlickeringGrid";
---

<MainLayout>
	<FlickeringGrid
		client:load
		className="z-0 fixed"
		squareSize={20}
		gridGap={12}
		color="#b7312c"
		maxOpacity={0.08}
		flickerChance={0.15}
	/>

	<Hero />

	<section class="h-[3000px] max-w-6xl mx-auto">
		<div class="mx-auto px-4">
			<h1 class="text-4xl font-bold mb-6">Bienvenido a Kepler Metrology</h1>
			<p class="text-lg">Contenido de tu página aquí...</p>
		</div>
	</section>
</MainLayout>
