---
import Section from "@/components/Section.astro";
---

<Section title="Certificaciones" bgColor="bg-gray-100">
  <img
    src="/images/certificaciones.webp"
    alt="Certificaciones"
    class="w-full rounded-xl shadow-md"
  />
</Section>
