---
import Section from "@/components/Section.astro";

const images = [
  {
    img: "/images/industrias/aeroespacial.webp",
    alt: "Industria Aeroespacial",
  },
  {
    img: "/images/industrias/automotriz.webp",
    alt: "Industria Automotriz",
  },
  {
    img: "/images/industrias/alimentaria.webp",
    alt: "Industria Alimentaria",
  },
  {
    img: "/images/industrias/farmaceutica.webp",
    alt: "Industria Farmacéutica",
  },
  {
    img: "/images/industrias/electronica.webp",
    alt: "Industria Electrónica",
  },
  {
    img: "/images/industrias/manufacturera.webp",
    alt: "Industria Manufactura",
  },
  {
    img: "/images/industrias/hidrico.webp",
    alt: "Industria Hidrica",
  },
  {
    img: "/images/industrias/hidrocarburos.webp",
    alt: "Industria Hidrocarburos",
  },
  {
    img: "/images/industrias/textil.webp",
    alt: "Industria Textil",
  },
  {
    img: "/images/industrias/metalmecanica.webp",
    alt: "Industria Metalmecánica",
  },
];

const repeat = 4;
---

<Section
  title="Enfocados en la industria"
  noPadding
  widthFull
  className="relative"
>
  <div class="group flex flex-row overflow-hidden p-2 relative">
    {
      Array(repeat)
        .fill(0)
        .map((_, i) => (
          <div class="flex flex-row shrink-0 justify-around gap-1 md:gap-6 animate-[marquee_60s_linear_infinite]">
            {images.map((item) => (
              <div class="md:h-[400px] h-[250px] cursor-pointer p-4 transition-all duration-300 rounded-2xl overflow-hidden">
                <img
                  class="h-full w-full object-contain rounded-2xl scale-105"
                  alt={item.alt}
                  src={item.img}
                />
              </div>
            ))}
          </div>
        ))
    }
  </div>
</Section>

<style is:inline>
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1.5rem));
    }
  }
</style>
