---
import Section from "@/components/Section.astro";

const MISION =
  "KEPLER METROLOGY trabaja en su entorno para ser un centro de soluciones en el área de Metrología orientadas a generar bienestar en nuestros clientes, socios, comunidad y para nuestra familia, primando nuestro compromiso, nuestra integridad y nuestros valores.";

const VISION =
  "Entregar servicios de calibración y medición de alto valor a nuestros clientes colaborando con ellos y con la sociedad a tener una mejor calidad de vida con productos y servicios de alta calidad.";
---

<Section title="MISIÓN Y VISIÓN">
  <div class="grid md:grid-cols-2 gap-6 sm:gap-8 md:gap-10">
    <div
      class="bg-white p-4 sm:p-6 md:p-8 rounded-lg shadow-lg border-l-4 border-primary"
    >
      <h2 class="text-2xl sm:text-3xl font-bold text-primary mb-4 sm:mb-6">
        MISIÓN
      </h2>
      <p class="text-sm sm:text-base text-gray-700 leading-relaxed">
        {MISION}
      </p>
    </div>
    <div class="bg-primary p-4 sm:p-6 md:p-8 rounded-lg shadow-lg text-white">
      <h2 class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-6">VISIÓN</h2>
      <p class="text-sm sm:text-base leading-relaxed">
        {VISION}
      </p>
    </div>
  </div>
</Section>
