---
import Section from "@/components/Section.astro";
import CheckIcon from "@/components/icons/CheckIcon.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Section title={i18n.POLICY.TITLE} bgColor="bg-gray-100">
  <div class="bg-white p-4 sm:p-6 md:p-8 rounded-xl shadow-lg border border-neutral-300">
    <p class="text-sm sm:text-base text-gray-700 leading-relaxed mb-4 sm:mb-6">
      {i18n.POLICY.DESCRIPTION}
    </p>

    <div class="grid sm:grid-cols-2 gap-4 sm:gap-6 mt-6 sm:mt-8">
      {
        i18n.POLICY.POLICIES.map((politica) => (
          <div class="flex items-start">
            <div class="bg-primary text-white p-1 mr-3 sm:mr-4 mt-1 shrink-0 clip-path-hexagon">
              <CheckIcon class="size-7" />
            </div>
            <p class="text-sm sm:text-base text-gray-700">{politica}</p>
          </div>
        ))
      }
    </div>
  </div>
</Section>

<style>
  .clip-path-hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    padding: 0.5rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
